@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: 16px;
}
:root {
  --clr-metalic-seaweed: #177e89ff;
  --clr-eagle-green: #084c61ff;
  --clr-granium-lake: #db3a34ff;
  --clr-yellow-red: #ffc857ff;
  --clr-jet: #323031ff;
  --clr-white: #fffafa;
  --clr-black: #000000;
  --clr-box-shadow: 0px 22px 12px rgba(0, 0, 0, 0.15);
}

body {
}
/* global css */
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  padding: 2rem 2rem;
}
.blur-effect-theme {
  @apply bg-white/50 bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-slate-100 transition-all duration-300;
}

.icon-style {
  width: 2rem;
  height: 2rem;
}
